<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tzly.ctcyh.cargo">

    <application
        android:name=".CargoApplication"
        android:allowBackup="true"
        android:label="@string/main_app_name"
        android:supportsRtl="true"
        android:theme="@style/cargo_AppBaseTheme"
        tools:replace="android:label">

        <!--加油-->
        <activity
            android:name=".refuel_v.RefuelOilActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <!--97加油 前-->
        <activity
            android:name=".refuel_v.FoldRefuelOilActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <!--97加油-->
        <activity
            android:name=".refuel_v.DiscountOilActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".refuel_v.BidOilActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".refuel_v.RechargeAgreementActivity"
            android:screenOrientation="portrait" />

        <!--加油统一入口-->
        <activity
            android:name=".refuel_v.OilEnterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--加油分享入口-->
        <activity
            android:name=".refuel_v.OilShareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".active_v.ActiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/cargo_translucent_theme">

        </activity>

        <activity
            android:name=".cc.vehicle.activity.DemoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".cc.vehicle.activity.VehicleCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".vehicle.activity.ACameraActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".vehicle.activity.ARecognizeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@style/Theme_Transparent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cc.drivingl.activity.DemoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".cc.drivingl.activity.DrivingCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!--驾照查分-->
        <activity
            android:name=".license_v.LicenseCargoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".license_v.LicenseResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
