<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tzly.ctcyh.cargo">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--加油-->
        <activity
            android:name=".refuel_v.RefuelOilActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".refuel_v.RechargeAgreementActivity"
            android:screenOrientation="portrait"/>

        <!--扫描拍照-->
        <activity
            android:name=".cc.vehicle.activity.VehicleCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <activity
            android:name=".vehicle.activity.ACameraActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".vehicle.activity.ARecognizeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@style/Theme_Transparent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".cc.drivingl.activity.DrivingCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

    </application>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
