<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zantong.mobilecttx"
          android:installLocation="auto">

    <!-- 阿里云推送相关权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 用于读取手机硬件信息等，用于机型过滤 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 选举使用，当应用有删除或者更新时需要重新选举，复用推送通道 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <!-- 补偿通道小米PUSH使用，不用可去除 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 补偿通道GCM使用，不使用可去除 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 允许监听启动完成事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 允许访问震动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenLayout"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 启动页面 -->
        <activity
            android:name=".splash_v.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="geo1"/>
            </intent-filter>
        </activity>
        <!-- 引导页面 -->
        <activity
            android:name=".guide_v.GuideCTActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"/>
        <!-- 主页，这个很吊呀 -->
        <activity
            android:name=".home_v.HomeMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".common.Demo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".weizhang.activity.ViolationDetails"
            android:screenOrientation="portrait"/>
        <!-- =======================输入编码查询违章页面===================================== -->
        <activity
            android:name=".home.activity.Codequery"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.CaptureActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- 设置页面 -->
        <activity
            android:name=".user.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.HelpActivity"
            android:screenOrientation="portrait"/>
        <!-- 个人中心页面 -->
        <activity
            android:name=".user.activity.UserInfoUpdate"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.MsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.UpdateNickName"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.UpdatePhoneNumber"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.Register2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.ResetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.ChangePwdActivity"
            android:screenOrientation="portrait"/>

        <!-- 选a择城市 -->
        <activity
            android:name=".daijia.activity.AddrActivity"
            android:screenOrientation="portrait"/>
        <!-- 公共列表类 -->
        <activity
            android:name=".common.activity.CommonListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".car.activity.CarBrandActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".car.activity.CarChooseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.DaiJiaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chongzhi.activity.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".map.activity.NavActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name=".home.activity.CustomCordovaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.activity.CommonProblemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.activity.CommonProblemDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.ProblemFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.activity.CommonTwoLevelMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chongzhi.activity.RechargeAgreementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".card.activity.ApplySuccessActvity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.MegTypeActivity"
            android:screenOrientation="portrait"/>

        <!-- ======================优惠劵模块=========================== -->
        <!-- 优惠劵 -->
        <activity
            android:name=".order.activity.CouponActivity"
            android:screenOrientation="portrait"/>
        <!-- 优惠劵详情 -->
        <activity
            android:name=".order.activity.CouponDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 加油优惠劵选择 -->
        <activity
            android:name=".order.activity.CouponListActivity"
            android:screenOrientation="portrait"/>

        <!-- 活动报名 -->
        <activity
            android:name=".huodong.activity.HundredPlanActivity"
            android:screenOrientation="portrait"/>
        <!-- ========================================代驾模块=================================== -->
        <activity
            android:name=".daijia.activity.DrivingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.DrivingPriceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.DrivingOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chongzhi.activity.ChooseAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.DODetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.DODetailBeingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.MegSecondLevelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.MegDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".huodong.activity.HundredAgreementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".huodong.activity.HundredRuleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.activity.OcrCameraActivity"
            android:screenOrientation="landscape"/>

        <!-- ======================畅通卡相关业务集合=========================== -->
        <!-- 我的畅通卡 已有绑定卡页面 -->
        <activity
            android:name=".card.activity.MyCardActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的办畅通卡 无绑定卡页面 -->
        <activity
            android:name=".card.activity.UnblockedCardActivity"
            android:screenOrientation="portrait"/>
        <!-- 绑定畅通卡 -->
        <activity
            android:name=".card.activity.BindJiaZhaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 邦卡成功 -->
        <activity
            android:name=".card.activity.BindCardSuccess"
            android:screenOrientation="portrait"/>
        <!-- 办卡信息 -->
        <activity
            android:name=".card.activity.ApplyCardSecondActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!-- 申办畅通卡 第一页面 -->
        <activity
            android:name=".card.activity.ApplyCardFirstActivity"
            android:screenOrientation="portrait"/>
        <!-- 办卡进度 -->
        <activity
            android:name=".card.activity.CardFlowActivity"
            android:screenOrientation="portrait"/>

        <!-- 快捷办卡 -->
        <activity
            android:name=".card.activity.ApplyCardQuickActivity"
            android:screenOrientation="portrait"/>
        <!-- 办卡须知 -->
        <activity
            android:name=".card.activity.CardNoticeActivity"
            android:screenOrientation="portrait"/>

        <!-- ========================车辆管理模块================================ -->
        <!-- 车辆管理 -->
        <activity
            android:name=".car.activity.ManageCarActivity"
            android:screenOrientation="portrait"/>
        <!-- 添加车辆 -->
        <activity
            android:name=".car.activity.AddCarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 绑定车辆 -->
        <activity
            android:name=".car.activity.SetPayCarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".weizhang.activity.ViolationHistoryAcitvity"
            android:screenOrientation="portrait"/>

        <!-- ========================违章查询页面================================= -->
        <!-- 违法查询页面 输入 -->
        <activity
            android:name=".weizhang.activity.ViolationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <!-- 违章列表信息显示页面 -->
        <activity
            android:name=".weizhang.activity.ViolationListActivity"
            android:screenOrientation="portrait"/>
        <!-- 违章缴费页面 -->
        <activity
            android:name=".weizhang.activity.ViolationPayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".weizhang.activity.LicenseCheckGradeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".weizhang.activity.LicenseDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 缴费须知 -->
        <activity
            android:name=".weizhang.activity.PaymentActivity"
            android:screenOrientation="portrait"/>

        <!-- ===================活动模块========================================= -->
        <!-- 活动页面;驾校报名 -->
        <activity
            android:name=".fahrschule.activity.FahrschuleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <!-- 活动页面;科目强化 -->
        <activity
            android:name=".fahrschule.activity.SubjectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <!-- 活动页面;陪练预约 -->
        <activity
            android:name=".fahrschule.activity.SparringActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <!-- ===================分享模块========================================= -->
        <!-- 分享模块页面 -->
        <activity
            android:name=".share.activity.ShareParentActivity"
            android:screenOrientation="portrait"/>

        <!-- ===================订单模块========================================= -->
        <!-- 订单模块列表页面 -->
        <activity
            android:name=".order.activity.MyOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".order.activity.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".order.activity.AnnualDetailActivity"
            android:screenOrientation="portrait"/>
        <!--呼叫快递-->
        <activity
            android:name=".order.activity.OrderExpressActivity"
            android:screenOrientation="portrait"/>

        <!-- ====================================浏览器================================ -->

        <activity
            android:name=".browser.BrowserHtmlActivity"
            android:screenOrientation="portrait"/>
        <!-- ===================付款web模块========================================= -->
        <!-- 付款web模块页面 -->
        <activity
            android:name=".browser.PayHtmlActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".browser.PayBrowserActivity"
            android:screenOrientation="portrait"/>

        <!-- ===================优惠模块========================================= -->
        <!-- 优惠模块 -->
        <activity
            android:name=".share.activity.CarBeautyActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".utils.DateService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </service>

        <!-- =================================百度地图============================================= -->
        <activity
            android:name=".map.activity.BaiduMapParentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${baidu_API_KEY}"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>

        <!-- =================================阿里推送============================================= -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="${alibaba_API_KEY}"/> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="${alibaba_APP_SECRET}"/> <!-- 请填写你自己的appSecret  在应用证书中 -->

        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".push_v.LytMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE"/>
            </intent-filter>
        </receiver>
        <!--自定义点击服务-->
        <service
            android:name=".push_v.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.push_v.PushNotificationService.click"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.push_v.PushNotificationService.delete"/>
            </intent-filter>
        </service>

        <!-- ===============================7.0拍照适配 ================================= -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <!-- ===============================友盟+适配 appkey================================= -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
    </application>

</manifest>