<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zantong.mobilecttx"
    android:installLocation="auto">

    <!--阿里云推送相关权限-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" /><!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于读取手机硬件信息等，用于机型过滤 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 补偿通道小米PUSH使用，不用可去除 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 补偿通道GCM使用，不使用可去除 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /><!-- 允许监听启动完成事件 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问震动器 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />  <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 选举使用，当应用有删除或者更新时需要重新选举，复用推送通道 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenLayout"
        android:icon="@mipmap/ic_global_app"
        android:label="@string/main_app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- 启动页面 -->
        <activity
            android:name=".splash_v.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo1" />
            </intent-filter>
        </activity>
        <!-- 引导页面 -->
        <activity
            android:name=".guide_v.GuideCTActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <!-- 主页，这个很吊呀 -->
        <activity
            android:name=".home_v.HomeMainActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--富文本页面-->
        <activity
            android:name=".home_v.RichTextActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".violation_v.ViolationDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- =======================输入编码查询违章页面===================================== -->
        <activity
            android:name=".home.activity.Codequery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.CaptureActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 设置页面 -->
        <activity
            android:name=".user.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <!-- 个人中心页面 -->
        <activity
            android:name=".user.activity.UserInfoUpdate"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.UpdateNickName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.UpdatePhoneNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.ChangePwdActivity"
            android:screenOrientation="portrait" />

        <!-- 公共列表类 -->
        <activity
            android:name=".common.activity.CommonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".car.activity.CarBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".car.activity.CarChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.activity.DaiJiaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".map.activity.NavActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".home.activity.CustomCordovaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.CommonProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.CommonProblemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ProblemFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.CommonTwoLevelMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".card.activity.ApplySuccessActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".msg_v.MegTypeActivity"
            android:screenOrientation="portrait" />

        <!-- ======================优惠劵模块=========================== -->
        <!-- 活动报名 -->
        <activity
            android:name=".huodong.activity.HundredPlanActivity"
            android:screenOrientation="portrait" />
        <!-- ========================================代驾模块=================================== -->
        <activity
            android:name=".daijia.activity.DrivingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.activity.DrivingPriceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.activity.DrivingOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chongzhi.activity.ChooseAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.activity.DODetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.activity.DODetailBeingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".msg_v.MegDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.activity.HundredAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.activity.HundredRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.OcrCameraActivity"
            android:screenOrientation="landscape" />

        <!-- ======================畅通卡相关业务集合=========================== -->
        <!-- 我的畅通卡 已有绑定卡页面 -->
        <activity
            android:name=".card.activity.MyCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 我的办畅通卡 无绑定卡页面 -->
        <activity
            android:name=".card.activity.UnblockedCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 绑定畅通卡 -->
        <activity
            android:name=".card.activity.BindJiaZhaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 邦卡成功 -->
        <activity
            android:name=".card.activity.BindCardSuccess"
            android:screenOrientation="portrait" />
        <!-- 办卡信息 -->
        <activity
            android:name=".card.activity.ApplyCardSecondActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 申办畅通卡 第一页面 -->
        <activity
            android:name=".card.activity.ApplyCardFirstActivity"
            android:screenOrientation="portrait" />
        <!-- 办卡进度 -->
        <activity
            android:name=".card.activity.CardFlowActivity"
            android:screenOrientation="portrait" />

        <!-- 快捷办卡 -->
        <activity
            android:name=".card.activity.ApplyCardQuickActivity"
            android:screenOrientation="portrait" />
        <!-- 办卡须知 -->
        <activity
            android:name=".card.activity.CardNoticeActivity"
            android:screenOrientation="portrait" />

        <!-- ========================车辆管理模块================================ -->
        <!-- 车辆管理 -->
        <activity
            android:name=".car.activity.ManageCarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 绑定车辆 -->
        <activity
            android:name=".car.activity.SetPayCarActivity"
            android:screenOrientation="portrait" />

        <!-- ========================违章查询页面================================= -->
        <!-- 违法查询页面 输入 -->
        <activity
            android:name=".violation_v.ViolationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 违章列表信息显示页面 -->
        <activity
            android:name=".violation_v.ViolationListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 违章缴费页面 -->
        <activity
            android:name=".violation_v.ViolationPayActivity"
            android:screenOrientation="portrait" />
        <!--违章查分缴费-->
        <activity
            android:name=".payment_v.LicenseGradeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_v.PaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_v.LicenseDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- ===================活动模块========================================= -->
        <!-- 活动页面;驾校报名 -->
        <activity
            android:name=".fahrschule_v.FahrschuleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 活动页面;科目强化 -->
        <activity
            android:name=".fahrschule_v.SubjectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 活动页面;陪练预约 -->
        <activity
            android:name=".fahrschule_v.SparringActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- ===================分享模块========================================= -->
        <!-- 分享模块页面 -->
        <activity
            android:name=".share_v.ShareParentActivity"
            android:screenOrientation="portrait" />

        <!-- ===================订单模块========================================= -->
        <!-- 订单模块列表页面 -->
        <activity
            android:name=".order_v.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order_v.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order_v.AnnualDetailActivity"
            android:screenOrientation="portrait" />
        <!--呼叫快递-->
        <activity
            android:name=".order_v.OrderExpressActivity"
            android:screenOrientation="portrait" />

        <!-- ===================优惠模块========================================= -->
        <!-- 优惠模块 -->
        <activity
            android:name=".share_v.CarBeautyActivity"
            android:screenOrientation="portrait" />

        <service android:name=".utils.DateService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <!-- =================================百度地图============================================= -->
        <activity
            android:name=".map.activity.BaiduMapParentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${baidu_API_KEY}" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <!-- =================================阿里推送============================================= -->
        <!--辅助推送-->
        <activity
            android:name=".push_v.PopupPushActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="${alibaba_API_KEY}" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="${alibaba_APP_SECRET}" /> <!-- 请填写你自己的appSecret  在应用证书中 -->

        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".push_v.LytMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
        <!--自定义点击服务-->
        <service
            android:name=".push_v.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.push_v.PushNotificationService.click" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.push_v.PushNotificationService.delete" />
            </intent-filter>
        </service>
        <!--推送用-->
        <!-- 配置Service组件,同时配置一个action -->
        <service
            android:name=".push_v.PushTipService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.custom.service.push.tip" />
            </intent-filter>
        </service>

        <!-- ===============================7.0拍照适配 ================================= -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- ===============================友盟+适配 appkey================================= -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

    </application>

</manifest>