<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.tzly.ctcyh.router">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

    <!--  * 设置索尼的Badge * 需添加权限：-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>

    <!--  * 设置华为的Badge * 需添加权限：-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>

</manifest>
