<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tzly.ctcyh.pay">

    <!--银联模块引入-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.nfc.hce"/>

    <application
        android:name=".PayApplication"
        android:allowBackup="true"
        android:label="@string/pay_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- ***********************银联支付模块*******************************-->
        <activity
            android:name=".EntryActivity">
        </activity>

        <activity
            android:name=".JARActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".APKActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--jar包中的-->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait">
        </activity>
        <!--jar包中的-->
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!--定义应用程序必须链接的公共库-->
        <!-- android:required
             布尔值，指明应用程序是否必需由 android:name 指定的库：-->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false"/>

        <!--**********支付类型选择****************-->
        <activity
            android:name=".pay_type_v.PayTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!--启动新进程 畅通卡支付-->
        <activity
            android:name="com.tzly.ctcyh.pay.html_v.Html5Activity"
            android:process=":lyl.boon.process.web"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tzly.ctcyh.pay.html_v.Html5Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--**********优惠劵类型选择****************-->
        <activity
            android:name=".coupon_v.CouponListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".coupon_v.CouponStatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".coupon_v.CouponDetailActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>
